## Data types

### Numbers

In [1]:
1 + 5

6

In [2]:
2 * 3

6

In [3]:
1 / 4

0.25

In [4]:
2 ** 3

8

In [5]:
16 % 2

0

In [6]:
5 % 3

2

In [7]:
(2 + 4) * (4 + 5)

54

### Booleans

In [8]:
True

True

In [9]:
False

False

### Strings

In [10]:
'aspas simples'

'aspas simples'

In [11]:
"aspas duplas"

'aspas duplas'

In [12]:
"robson's car is broken"

"robson's car is broken"

#### Printing

In [13]:
x = 'hello word!'

In [14]:
x

'hello word!'

In [15]:
print(x)

hello word!

In [16]:
nrTitulo = 5
pais = 'Brasil'

In [17]:
print('O {pais} foi campe達o {nrTitulo} vezes'.format(pais=pais,nrTitulo=nrTitulo))

O Brasil foi campe達o 5 vezes

In [18]:
print('A {} foi campe達o {} vezes'.format(pais,nrTitulo))

A Brasil foi campe達o 5 vezes

### Lists

In [19]:
[2,4,8]

[2, 4, 8]

In [20]:
['Oi',1,[1,2],"a"]

['Oi', 1, [1, 2], 'a']

In [21]:
list1 = ['a','b','c','d']

In [22]:
list1.append('e')

In [23]:
list1[0]

'a'

In [24]:
list1[1:]

['b', 'c', 'd', 'e']

In [25]:
list1[:1]

['a']

In [26]:
list1[0] = 'Novo'

In [27]:
list2 = [1,2,3,[4,5,['alvo']]]

In [28]:
list2[3]

[4, 5, ['alvo']]

In [29]:
list2[3][2]

['alvo']

In [30]:
list2[3][2][0]

'alvo'

In [31]:
'x' in ['x','y','z']

True

### Dictionaries

In [32]:
dic = {'key1':'item1','key2':'item2'}

In [33]:
dic

{'key1': 'item1', 'key2': 'item2'}

In [34]:
dic['key1']

'item1'

In [35]:
dic.keys()

dict_keys(['key1', 'key2'])

In [36]:
dic.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

### Tuples

In [37]:
vowels = ('a','e','i','o','u')

In [38]:
vowels[0]

'a'

In [39]:
vowels[0] = 'Nova'

TypeError: 'tuple' object does not support item assignment

### Sets

In [8]:
{1,2,3}

{1, 2, 3}

In [9]:
{1,2,2,1,2,1,2,3,3,2,3,2,2,2,1,2,4}

{1, 2, 3, 4}

## Variables

In [10]:
# Do not start the variable name with numbers or special characters
var1 = 2

In [11]:
1var = 3

SyntaxError: invalid syntax (<ipython-input-11-aa3eb047e92f>, line 1)

In [12]:
x = 2
y = 3

In [13]:
z = (x^2 + y^2)**(0.5)
z

2.23606797749979

In [14]:
z

2.23606797749979

## Comparators and Logic Operators

In [15]:
4 > 4

False

In [16]:
1 < 4

True

In [17]:
1 >= 1

True

In [18]:
1 <= 4

True

In [19]:
1 == 4

False

In [20]:
'ok' == 'bye'

False

In [21]:
(1 > 2) and (2 < 3)

False

In [22]:
(1 > 2) or (2 < 3)

True

In [23]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## Conditionals and Loops

### if, elif, else

In [25]:
if 1 < 2:
    print('Ok!')

Ok!

In [26]:
if 1 < 2:
    print('N達o OK')

N達o OK

In [28]:
if 1 < 2:
    print('1尊')
else:
    print('2尊')

1尊

In [29]:
if 1 > 2:
    print('1尊')
else:
    print('2尊')

2尊

In [30]:
if 1 == 2:
    print('1尊')
elif 3 == 3:
    print('2尊')
else:
    print('3尊')

2尊

### for

In [31]:
seq = [1,2,3,4,5,6]

In [32]:
for n in seq:
    print(n)

1
2
3
4
5
6

In [33]:
for n in seq:
    print('OK')

OK
OK
OK
OK
OK
OK

In [34]:
for m in seq:
    print(m**2)

1
4
9
16
25
36

### while

In [35]:
i = 1
while i < 5:
    print('i equals: {}'.format(i))
    i = i+1

i equals: 1
i equals: 2
i equals: 3
i equals: 4

## range()

In [36]:
range(1,5)

range(1, 5)

In [37]:
for i in range(5):
    print(i)

0
1
2
3
4

In [39]:
a = [1...2]

SyntaxError: invalid syntax (<ipython-input-39-e7bbd53dee27>, line 1)

In [40]:
list(range(5))

[0, 1, 2, 3, 4]

## List comprehension

In [41]:
x = [1,2,3,4]

In [42]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [43]:
[item**2 for item in x]

[1, 4, 9, 16]

## Functions

In [44]:
def pot(n=2):
    """
    Pot棚ncia do N炭mero
    """
    return n**2

In [45]:
y = pot(2)

## Lambda Expressions

In [46]:
def dobrar(x):
    return x*2

In [47]:
dobrar(2)

4

In [47]:
dobrar = lambda x=2: x*2
dobrar(2)

4

## map(), filter()

In [48]:
seq = [1, 2, 3, 4]

In [49]:
map(dobrar, seq) # Memory location

In [50]:
list(map(dobrar, seq)) # Turn into list

[2, 4, 6, 8]

In [51]:
list(map(lambda x: x*2, seq)) # Wrapping together

[2, 4, 6, 8]

In [52]:
filter(lambda x: x%2 == 0, seq)

In [53]:
list(filter(lambda item: item%2 == 0, seq))

[2, 4]

In [54]:
list(filter(lambda item: item%2 == 0, list(map(lambda x: x*3, seq))))

[6, 12]

## Classes and Methods:

In [55]:
class MyClass:
    def myString(self):
        return 'The quick brown fox jumps over the lazy dog'

In [56]:
myClass = MyClass()
myString = myClass.myString()
print(myString)

The quick brown fox jumps over the lazy dog