### Pandas: Python Data Analysis Library

## Installing

Choose one of the following commands:

`conda install pandas`

`pip install pandas`

In [2]:
import numpy as np
import pandas as pd

## Series

In [ ]:
grades = [8.5, 7, 9]
pd.Series(grades)

In [ ]:
grades = [8.5, 7, 9]
students = ['Student A','Student B','Student C']
pd.Series(grades, students)

In [ ]:
np_grades = np.array([6, 7, 8])
pd.Series(np_grades)

#### Exercise

(a) Create a series from a Python dictionary;

In [ ]:
series_a = pd.Series([5 ,2, 2], ['Brazil','Argentina','France'])
# series_a = pd.Series(?)
print("Brazil has {} World Cups.".format(series_a['Brazil']))

In [ ]:
series_a['Brazil', 'Argentina'] # Error

In [ ]:
print(series_a[['Brazil', 'Argentina']])
print()
print(type(series_a[['Brazil', 'Argentina']]))
print()
print(type(series_a['Brazil']))
print()
print(type(series_a[['Brazil']]))
print()
print(series_a[['Brazil']])

In [ ]:
series_b = pd.Series([2018, 2002, 1986], index=['France','Brazil','Argentina'])
print("Last time France won World Cup was in {}, while Brazil won in {} and Argentina in {}".format(series_b['France'],series_b['Brazil'],series_b['Argentina']))

### Operations

In [ ]:
series_c = pd.Series(data=[5, 10, 9], index=['AL01', 'AL03', 'AL02'])
series_d = pd.Series(data=[4, 6, 4], index=['AL01', 'AL02', 'AL03'])
sum_c_d = series_c + series_d
sum_c_d

In [ ]:
diff_c_d = series_c - series_d
diff_c_d

In [ ]:
series_e = pd.Series(data=[5, 9, 10, 5], index=['AL01', 'AL02', 'AL03', 'AL04'])
series_f = pd.Series(data=[4, 6, 4], index=['AL01', 'AL02', 'AL03'])
sum_e_f = series_e + series_f
sum_e_f

### Methods - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [ ]:
series_e

In [ ]:
series_e.max()

In [ ]:
series_e.min()

In [ ]:
series_e.describe()

In [ ]:
series_e.cummax()

In [ ]:
series_e.cumprod()

In [ ]:
series_e.diff()

## DataFrames

In [3]:
data = np.random.rand(5, 4) * 10
index = ['ST01','ST02','ST03','ST04','ST05']
col = ['T1', 'T2', 'T3', '4T']
df = pd.DataFrame(data, index, col)
df

            T1        T2        T3        4T
ST01  8.961115  2.720399  1.513139  0.799248
ST02  2.377187  1.235442  9.318733  5.789321
ST03  6.770715  0.472047  3.934520  7.213711
ST04  5.913192  6.406353  4.089924  2.912775
ST05  8.525748  1.465387  4.434815  0.126454

In [ ]:
df['T1']

In [ ]:
df.T1 # Not recommended

In [ ]:
df['4T']

In [ ]:
df.4T

In [ ]:
type(df['T1'])

In [ ]:
df[['T1', 'T2']]

In [ ]:
df['T4'] = np.random.rand(5) * 10
df

In [ ]:
type(df['T4'])

In [ ]:
df['avg'] = (df['T1'] + df['T2'] + df['T3'] + df['T4'])/4
df

In [ ]:
df['another_avg'] = df.mean(1)
df

In [ ]:
df = df.drop(['avg', 'another_avg', '4T'], axis=1)
df

### Working with DataFrames

In [4]:
st02 = df.loc['ST02']
st02

T1    2.377187
T2    1.235442
T3    9.318733
4T    5.789321
Name: ST02, dtype: float64

In [ ]:
type(st02)

In [ ]:
df.iloc[1]

In [ ]:
df.loc['ST02']['T1']

In [ ]:
df.iloc[1]['T1']

In [ ]:
df.loc[['ST02', 'ST03']][['T1', 'T2']]

In [ ]:
df.loc[['ST02', 'ST03']]

In [ ]:
df.iloc[[1, 4]][['T1', 'T2']]

In [ ]:
df.iloc[[1, 4], [1, 2]]

### Conditional selection

In [ ]:
df

In [ ]:
df[df > 3]

In [ ]:
mean_T1 = df['T1'].mean()
mean_T1

In [ ]:
df['T1'] > mean_T1

In [ ]:
df['T1']

In [ ]:
df[df['T1'] > mean_T1]

In [ ]:
df[(df['T1'] > 5) and (df['T2'] > 5)]
df[(df['T1'] > 5) or (df['T2'] > 5)]

In [ ]:
df[(df['T1'] > 2) & (df['T2'] > 2)]

In [ ]:
df[(df['T1'] > 5) | (df['T2'] > 5)]

###  Reset de Index

In [5]:
print(df)
df = df.reset_index(drop=False)
print(df)

            T1        T2        T3        4T
ST01  8.961115  2.720399  1.513139  0.799248
ST02  2.377187  1.235442  9.318733  5.789321
ST03  6.770715  0.472047  3.934520  7.213711
ST04  5.913192  6.406353  4.089924  2.912775
ST05  8.525748  1.465387  4.434815  0.126454
  index        T1        T2        T3        4T
0  ST01  8.961115  2.720399  1.513139  0.799248
1  ST02  2.377187  1.235442  9.318733  5.789321
2  ST03  6.770715  0.472047  3.934520  7.213711
3  ST04  5.913192  6.406353  4.089924  2.912775
4  ST05  8.525748  1.465387  4.434815  0.126454

In [6]:
other_students = ['ST06','ST07','ST08','ST09','ST10']
df['STs'] = other_students
df = df.set_index('STs', drop=True)
df

     index        T1        T2        T3        4T
STs
ST06  ST01  8.961115  2.720399  1.513139  0.799248
ST07  ST02  2.377187  1.235442  9.318733  5.789321
ST08  ST03  6.770715  0.472047  3.934520  7.213711
ST09  ST04  5.913192  6.406353  4.089924  2.912775
ST10  ST05  8.525748  1.465387  4.434815  0.126454

In [7]:
#
students = ['ST01','ST01','ST01','ST02','ST02','ST02']
tests =['T1','T2','T3','T1','T2','T3']
advanced_index = list(zip(students, tests))
# print(advanced_index)
advanced_index = pd.MultiIndex.from_tuples(advanced_index)

grades = np.random.rand(6, 3)*10

courses = ['C1','C2','C3']

advanced_df = pd.DataFrame(grades, advanced_index, courses)
advanced_df

               C1        C2        C3
ST01 T1  9.785823  4.546282  2.337284
     T2  9.237046  1.200976  2.242089
     T3  2.359657  3.474304  8.244941
ST02 T1  3.009632  5.619188  0.913635
     T2  6.625141  4.978116  5.746590
     T3  9.579457  0.513822  9.619716

In [ ]:
advanced_df.index.names = ['Students','Tests']
advanced_df

In [ ]:
grades_st_1 = advanced_df.loc['ST01']
grades_st_1

In [ ]:
type(grades_st_1)

In [ ]:
grades_st_1.loc['T1']
type(grades_st_1.loc['T1'])

In [ ]:
grades_st_1_t_2 = advanced_df.loc['ST01'].loc['T2']
grades_st_1_t_2

In [ ]:
type(grades_st_1_t_2)

In [ ]:
advanced_df.xs('ST01')

In [ ]:
advanced_df.xs('T1', level='Tests')

### Data cleaning

In [ ]:
dict_a = {'X':[1, np.nan, np.nan],'Y':[2, 4, np.nan],'Z':[3, 4, 4],}
df3 = pd.DataFrame(dict_a)
df3

In [ ]:
df3.dropna()

In [ ]:
df3.dropna(axis=1)

In [ ]:
df3.dropna(thresh=2)

In [ ]:
df3.fillna(3)

In [ ]:
df3.fillna(pd.Series({'X':1,'Y':2,'Z':3}))

In [ ]:
df3['Y'].fillna(df3['Y'].mean())

In [ ]:
df3.fillna(df3.mean())

### Grouping

In [ ]:
dict_b = {'Method':['KNN', 'SVR', 'ANN', 'KNN', 'SVR', 'ANN'],
        'Scenario':['S1', 'S2', 'S1', 'S2', 'S1', 'S2'],
        'Error':[2.1, 2.1, 1.5, 1.7, 1.8, 1.9]}
df4 = pd.DataFrame(dict_b)
df4

In [ ]:
byScenario = df4.groupby('Scenario')
print(byScenario)

In [ ]:
byScenario.mean()

In [ ]:
byScenario.sum()

In [ ]:
byScenario.min()

In [ ]:
byScenario.max()

### Joins

In [ ]:
df_j1 = pd.DataFrame({'A':['A0', 'A1', 'A2'],'B':['B0', 'B1', 'B2']}, index=[0, 1, 2])
df_j1

In [ ]:
df_j2 = pd.DataFrame({'A':['A3', 'A4', 'A5'],'B':['B3', 'B4', 'B5']},index=[3, 4, 5])
df_j2

In [ ]:
pd.concat([df_j1, df_j2])

In [ ]:
pd.concat([df_j1, df_j2], axis=1)

In [ ]:
left = pd.DataFrame({'country':['01','02','03'],'name':['Brazil','France','Japan']})
right =  pd.DataFrame({'country':['01','02','03'],'continent':['SA','EU','AS']})
df5 = pd.merge(left, right, how='inner', on='country')
df5

In [ ]:
left_2 = pd.DataFrame({'key1':['K0','K1'],
                     'key2':['K0','K0'],
                     'A':['A00','A10'],
                     'B':['B00','B10']})
right_2 = pd.DataFrame({'key1':['K0','K1'],
                     'key2':['K0','K1'],
                     'C':['C00','C11'],
                     'D':['D00','D11']})
print(left_2)
print(right_2)
df6 = pd.merge(left_2, right_2, how='inner', on=['key1','key2'])
df6

In [ ]:
left_3 = pd.DataFrame({'key1':['K0','K1'],
                     'key2':['K0','K0'],
                     'A':['A00','A10'],
                     'B':['B00','B10']})
right_3 = pd.DataFrame({'key1':['K0','K1'],
                     'key2':['K0','K1'],
                     'C':['C00','C11'],
                     'D':['D00','D11']})
df7 = pd.merge(left_3, right_3, how='right', on=['key1','key2'])
df7

In [ ]:
df8 = pd.merge(left_3, right_3, how='outer', on=['key1','key2'])
df8

In [ ]:
left_4 = pd.DataFrame({'A':['A0', 'A1'], 'B':['B0', 'B1']}, index=['k0', 'k1'])
right_4 = pd.DataFrame({'C':['C0', 'C1'], 'D':['D0', 'D1']}, index=['k0', 'k1'])
print(left_4)
print(right_4)
left_3.join(right_3)

In [ ]:
left_4.join(right_4, how='inner')

### Methods - https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

In [ ]:
final_df = pd.DataFrame({'A':[1, 2, 3, 4],'B':[222, 555, 244, 222],'C':['ab', 'cd', 'ef', 'gh']})
final_df

In [ ]:
final_df['B'].unique()

In [ ]:
print(len(final_df['B'].unique()), final_df['B'].nunique())

In [ ]:
print(df7, '\n')
print(len(df7['B'].unique()), df7['B'].nunique())

In [ ]:
final_df['B'].value_counts()

In [ ]:
def pot(x,n=2):
    return x**n

In [ ]:
final_df['A'].apply(pot)

In [ ]:
final_df['C'].apply(len)

In [ ]:
final_df['A'].apply(lambda x:x**2)

In [ ]:
final_df.sort_values('B')